<section class="book">
  <article>
    <h4>Learning Ruby Series</h4>
    <p>For more tips on learning Ruby from Make It With Code, enter your email below.</p>
    <div id="mc_embed_signup">
<form action="http://makeitwithcode.us3.list-manage2.com/subscribe/post?u=adadd8f3e2b1e2323a4b60989&amp;id=aee5107cf6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate="">
  
  <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email wide_email" id="mce-EMAIL" style="height:28px;padding: 0 10px 0 10px;">

<input type="submit" value="Learn Better Ruby" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #aaa;border: 0 none;border-radius: 4px;color: #FFFFFF;display: inline-block;font-size: 15px;font-weight: bold;height: 32px;line-height: 32px;margin: 0 5px 10px 10px;padding: 0 10px 0 10px;text-align: center;text-decoration: none;vertical-align: top;white-space: nowrap;width: auto;">
</form>
</div>
  
  </article>
</section>
